
<header>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<%= image_tag "logo.png", :class=> "col-md-12" %>
			</div>
			<div class="col-md-6">
				<%= form_tag("/search", method: "get") do %>
				  <%= text_field_tag(:q) %>
				  <%= submit_tag("Search") %>
				<% end %>

			</div>

			<div class="col-md-3">
				<a href="#" class="btn btn-primary btn-lg col-md-12">Login</a><br/>
				<a href="#" class="btn btn-primary btn-lg col-md-12">Signup</a>
			</div>
		</div>
	</div>
</header>

<div class="container">

	<div class="row">


		<h1>Provider App</h1>

		

	</div>

</div>

